<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>

</head>

<body> <%- include('partials/sidebar.ejs') %>`
    <div class="page-body">

      <div class="container-fluid">
        <div class="page-title" `>
          <div class="row">
            <div class="col-sm-6">
              <h3>Employee List</h3>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/employee/dashboard"><i data-feather="home"
                      class="me-2"></i>Dashboard</a></li>

              </ol>
            </div>
          </div>
        </div>
      </div>


      <div class="container-fluid dashboard-default general-widget">
        <div class="row justify-content-between">

          <div class="col-xxl-6 col-xl-5 col-lg-6 dash-45 box-col-40 ">
            <div class="card profile-greeting" style="padding: 51px !important;">
              <div class="card-body">
                <div class="d-sm-flex d-block justify-content-end">
                </div>
                <div class="greeting-user">
                  <div class="profile-vector">
                    <ul class="dots-images">
                      <li class="dot-small bg-info dot-1"></li>
                      <li class="dot-medium bg-primary dot-2"></li>
                      <li class="dot-medium bg-info dot-3"></li>
                      <li class="semi-medium bg-primary dot-4"></li>
                      <li class="dot-small bg-info dot-5"></li>
                      <li class="dot-big bg-info dot-6"></li>
                      <li class="dot-small bg-primary dot-7"></li>
                      <li class="semi-medium bg-primary dot-8"></li>
                      <li class="dot-big bg-info dot-9"></li>
                    </ul><img class="img-fluid rounded-circle" style="width: 160px; height: 150px;"
                      src="/uploads/<%= data?.profileimage%>" alt="">
                    <ul class="vector-image">
                      <li> <img src="../images/dashboard/default/ribbon1.png" alt=""></li>
                      <li> <img src="../images/dashboard/default/ribbon3.png" alt=""></li>
                      <li> <img src="../images/dashboard/default/ribbon4.png" alt=""></li>
                      <li> <img src="../images/dashboard/default/ribbon5.png" alt=""></li>
                      <li> <img src="../images/dashboard/default/ribbon6.png" alt=""></li>
                      <li> <img src="../images/dashboard/default/ribbon7.png" alt=""></li>
                    </ul>
                  </div>
                  <h3 style="font-size: 22px;"><a href="#"><span>Welcome Back</span>
                      <%=employeedetais[0].firstName +" "+employeedetais[0].lastName%>  </a><span class=" right-circle">
                        <i class="fa fa-check-circle font-primary f-14 middle"></i></span></h5>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 box-col-40 xl-40">
            <div class="card appointment-detail">
              <div class="card-header pb-0 ">
                <div class="d-flex justify-content-between">
                  <div class="flex-grow-1">
                    <p class="square-after f-w-600 header-text-primary">Upcoming Birthday (<%= BrithDayArr.length %>) 🎂
                        <i class="fa fa-circle"></i></p>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive theme-scrollbar">
                  <table class="table">
                    <tbody>
                      <% if (BrithDayArr.length> 0) { %>
                        <% BrithDayArr.forEach((val)=> { %>
                          <tr>
                            <td>
                              <div class="d-flex"><img class="img-fluid align-top circle"
                                  src="/uploads/<%= val.profileimage %>" alt="">
                                <div class="flex-grow-1"><a href=""><span>
                                      <%= val.firstName + ' ' + val.lastName %>
                                    </span></a>
                                  <p class="mb-0">Age: <%= val.age %>
                                  </p>
                                </div>

                              </div>
                            </td>
                            <td class="text-end">
                              <%= new Date(val.birthDate).toLocaleDateString('en-US', { day: '2-digit' , month: 'short'
                                }).split(" ").reverse().join(" ") %>
                            </td>
                          </tr>
                          <% }) %>
                            <% } else { %>
                              <tr class=" text-center">
                            <td>
                              <img src="/images/no-birthday.svg" class="mb-3" alt="">
                              <p>No birthday for this month.</p>
                            </td>
                          </tr>
                          <% } %>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>



          <div class="col-lg-3 col-md-6 box-col-33">
            <div class="card custom-card">
              <div class="card-profile">
                <img class="rounded-circle" src="/uploads/<%= data?.profileimage%>" height="110" width="110px" alt="" />
              </div>
              <input type="hidden" value="<%=data?.id%>" id="emplyeeId" />
              <div class="text-center profile-details mb-5">
                <a href="#" data-bs-original-title="" title="">
                  <h4>
                    <%=data?.userName%>
                  </h4>
                </a>
              </div>
              <div class="d-flex" style="margin-left: -32px">
                <div class="border-end border-primary border-5 rounded mb-3" style="height: 20px"></div>
                <!-- <h6 class="ms-1">My Timing</h6> -->
                <div class="name f-w-600 ms-1">My Timing</div>
              </div>
              <div class="d-flex justify-content-center mb-2">
                <div class="d-flex justify-content-center align-items-center" style="height: 100px; width: 300px">
                  <div class="text-center">
                    <h4 class="text-success" style="font-size: 16px">
                      Current Time
                    </h4>
                    <h5 style="font-size: 18px" id="curanttime">
                      <span id="hou">00</span>:<span id="min">00</span>:<span id="sec">00</span>
                    </h5>
                  </div>

                  <div class="border border-primary ms-4 me-4" style="height: 50px"></div>

                  <div class="text-center">
                    <h4 class="text-danger" style="font-size: 16px">
                      Break Time
                    </h4>
                    <h5 style="font-size: 18px" id="breactime">
                      <span id="hou2">00</span>:<span id="min2">00</span>:<span id="sec2">00</span>
                    </h5>
                  </div>
                </div>
              </div>

              <div class="social-btngroup d-flex justify-content-center">


                <button class="btn btn-outline-danger rounded me-2 col-6 d-none" id="break" type="button"
                  data-bs-original-title="" title="">
                  BREAK
                </button>

                <button class="btn btn-square btn-success rounded col-12" type="button" data-bs-original-title=""
                  title="" id="clockin">
                  CLOCK IN
                </button>
                <button class="btn btn-square btn-danger rounded col-6 d-none" type="button" data-bs-original-title=""
                  title="" id="clockout">
                  CLOCK OUT
                </button>
              </div>
            </div>

            <div id="emp-data" data-break="<%= Break || '00:00:00' %>" data-work="<%= Working || '00:00:00' %>"
              data-status="<%= status || '' %>" style="display: none"></div>
          </div>
        </div>

        <!-- Container-fluid Ends-->
      </div>
    </div>


    <!-- Day Gap Modal  -->
    <div class="modal fade show d-none" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenter"
      style="padding-right: 15px; display: block" aria-modal="true" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="background-color: transparent; border: none">
          <div class="card m-0 border-0 shadow-sm">
            <div class="card-header bg-primary text-white">
              <h5 class="mb-0">Add Attendance & Leave</h5>
            </div>
            <div class="card-body">
              <form action="/employee/rersonRoutes/<%= data.id %>" method="post" enctype="multipart/form-data"
                onsubmit="return checkIfCurrentDate(document.getElementById('leavelastDate'))">
                <div class="row">
                  <!-- Leave Type -->
                  <div class="col-md-6 mb-3">
                    <label for="leaveType" class="form-label">Leave Type</label>
                    <select name="leavetype" id="leaveType" class="form-select" required>
                      <option value="">Select Leave Type</option>
                      <%leaveType.map((val)=>{%>
                        <option value="<%=val.type_values%>">
                          <%=val.type_values%>
                        </option>
                        <%})%>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <!-- Start Date -->
                  <div class="col-md-6 mb-3">
                    <label for="leaveDate" class="form-label" id="startdate-label">Date</label>
                    <input type="date" class="form-control" id="leaveDate" name="satrtdate" required />
                  </div>

                  <!-- "More than one day?" link -->
                  <div class="col-md-6 mb-3 font-400 d-flex align-items-end" id="linketext">
                    <a class="text-decoration-none fw-semibold" style="cursor: pointer"
                      onclick="$('#enddate').removeClass('d-none'); $('#linketext').addClass('d-none'); $('#startdate-label').text('Start Date');">
                      MORE THAN ONE DAY?
                    </a>
                  </div>

                  <!-- End Date (initially hidden) -->
                  <div class="col-md-6 mb-3 d-none" id="enddate">
                    <label for="leavelastDate" class="form-label">End Date</label>
                    <input type="date" class="form-control" id="leavelastDate" name="enddate"
                      onchange="checkIfCurrentDate(this)" />
                    <div class="invalid-feedback d-none" id="enddate-error">
                      End date cannot be today's date.
                    </div>
                  </div>


                </div>

                <div class="row">
                  <!-- Reason -->
                  <div class="col-12 mb-3">
                    <label for="leaveReason" class="form-label">Reason For Leave</label>
                    <textarea class="form-control" id="leaveReason" name="reason" rows="3"
                      placeholder="Type reason here..." required></textarea>
                  </div>
                </div>

                <div class="row">
                  <!-- Attachment -->
                  <div class="col-12 mb-3">
                    <label for="attachment" class="form-label d-block">Attachment (optional)</label>



                    <div class="border border-2 rounded d-inline-block position-relative" style="
                        width: 50px;
                        height: 50px;
                        border-style: dashed;
                        cursor: pointer;
                      ">
                      <input type="file" id="attachment" name="attachment"
                        class="position-absolute w-100 h-100 opacity-0" multiple />
                      <div class="d-flex align-items-center justify-content-center h-100">
                        <span class="fw-bold text-muted fs-1">+</span>
                      </div>
                    </div>
                    <!-- File name will appear here -->
                    <div id="file-name" class="mt-2 text-primary fw-semibold small"></div>
                  </div>
                </div>

                <!-- Buttons -->
                <div class="text-end">
                  <button type="button" class="btn btn-secondary me-2"
                    onclick="$('#clockout').addClass('d-none');$('#break').addClass('d-none');$('#clockin').removeClass('d-none');$('#fromhom').removeClass('d-none');"
                    data-bs-dismiss="modal">
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- MissingClockOut  -->
    <div class="modal fade show d-none" id="clockOutMissing" tabindex="-1" aria-labelledby="clockOutMissingLabel"
      style="padding-right: 15px; display: block" aria-modal="true" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="background-color: transparent; border: none">
          <div class="card m-0 border-0 shadow-sm">
            <div class="card-header bg-primary text-white">
              <h5 class="mb-0">Yesterday Not Clockout</h5>
            </div>
            <div class="card-body">
              <!-- Alert for missing date -->
              <div class="alert alert-danger py-2 px-3 mb-4" role="alert" id="dateOut">
                Select ClockOut Time
              </div>

              <form action="/employee/clockmissing/<%= data.id %>" method="post">
                <!-- Radio buttons for Leave or Clock IN/OUT -->


                <!-- Clock In/Out Fields -->
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="clockIn" class="form-label">Clock In</label>
                    <input type="text" class="form-control bg-white" id="clockInTime" name="clockInTime" required
                      readonly />
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="clockOut" class="form-label">Clock Out</label>
                    <input type="time" class="form-control" id="clockOut" name="clockOutTime" />
                    <small id="timeError" class="text-danger d-none">Clock Out time cannot be earlier than Clock In
                      time.</small>
                  </div>
                </div>
                <input type="hidden" name="lastdaydate" id="lastdaydate">
                <!-- Reason -->
                <!-- <div class="mb-3">
                  <label for="reason" class="form-label">Reason <span class="text-danger">*</span></label>
                  <textarea class="form-control" id="reason" name="reason" rows="3" placeholder="Enter reason here..."
                    required></textarea>
                </div> -->

                <!-- Footer Buttons -->
                <div class="text-end">
                  <button type="button" class="btn btn-secondary me-2"
                    onclick="$('#clockOutMissing').addClass('d-none');" data-bs-dismiss="modal">
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Eraly ClockOut  -->
    <div class="modal fade show d-none" id="EarlyClockOut" tabindex="-1" aria-labelledby="earlyClockOutLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">


          <div class="modal-header text-black">
            <h5 class="modal-title" id="earlyClockOutLabel">Early Clock-Out Reason</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="text-black py-2 px-3 mb-0 border-bottom" style="background-color: #f4f4f4 ;" role="alert"
            id="earlyOutAlert">
            <strong>Notice:</strong> Your working hours are less than <strong id="TimeWorking"></strong>. Please provide
            a reason
            for early clock-out.
          </div>



          <form action="/employee/erlyclockOut/<%= data.id %>" method="post">
            <div class="modal-body">
              <div class="mb-3">
                <label for="earlyReason" class="form-label">Reason</label>
                <textarea class="form-control" id="earlyReason" name="erlyreson" rows="4"
                  placeholder="Enter your reason here..."></textarea>
              </div>
            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>

        </div>
      </div>
    </div>


    <!-- Breack Over  -->
    <div class="modal fade show d-none" id="breackOver" tabindex="-1" aria-labelledby="breackOverLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">


          <div class="modal-header text-black">
            <h5 class="modal-title" id="earlyClockOutLabel">Breakover Reason</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="text-black py-2 px-3 mb-0 border-bottom" style="background-color: #f4f4f4 ;" role="alert"
            id="earlyOutAlert">
            <strong>Notice:</strong> Your break hours have exceeded <strong id="BreackTime"></strong>. Please provide a
            reason
          </div>



          <form action="/employee/breackover/<%= data.id %>" method="post">
            <div class="modal-body">
              <div class="mb-3">
                <label for="earlyReason" class="form-label">Reason</label>
                <textarea class="form-control" id="BreakReason" name="breakreason" rows="4"
                  placeholder="Enter your reason here..."></textarea>
              </div>
            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>

        </div>
      </div>
    </div>



    <%- include('partials/footer.ejs') %> <%- include('partials/script.ejs') %>
        <!-- login js-->



        <!-- imag model path text  -->

        <script>

          $('#exampleModalCenter').on('hidden.bs.modal', function () {
            $('#clockout').addClass('d-none');
            $('#break').addClass('d-none');
            $('#clockin').removeClass('d-none');
            $('#fromhom').removeClass('d-none');
          });

          function checkIfCurrentDate(input) {
            const selectedDate = input.value;
            const today = new Date().toISOString().split("T")[0];

            if (selectedDate === today || selectedDate > today) {
              input.classList.add("is-invalid");
              document.getElementById("enddate-error").classList.remove("d-none");
              return false;
            } else {
              input.classList.remove("is-invalid");
              document.getElementById("enddate-error").classList.add("d-none");
              return true;
            }
          }

          $('#clockOutMissing').on('hidden.bs.modal', function () {
            $('#clockout').addClass('d-none');
            $('#break').addClass('d-none');
            $('#clockin').removeClass('d-none');
            $('#fromhom').removeClass('d-none');
          });




          function checkIfCurrentDate(input) {
            const selectedDate = input.value;
            const today = new Date().toISOString().split("T")[0];

            if (selectedDate === today || selectedDate > today) {
              input.classList.add("is-invalid");
              document.getElementById("enddate-error").classList.remove("d-none");
              return false;
            } else {
              input.classList.remove("is-invalid");
              document.getElementById("enddate-error").classList.add("d-none");
              return true;
            }
          }




        </script>



        <script>
          document.getElementById("attachment").addEventListener("change", function () {
            const fileList = this.files;
            const fileNameContainer = document.getElementById("file-name");

            if (fileList.length > 0) {
              const names = Array.from(fileList).map((file, index) => `${index + 1}. ${file.name}`);
              fileNameContainer.innerHTML = names.join("<br>");
            } else {
              fileNameContainer.textContent = "No file selected";
            }
          });
        </script>


        <script>
          $(document).ready(function () {
            let workInterval = null;
            let breakInterval = null;

            let workTime = { h: 0, m: 0, s: 0 };
            let breakTime = { h: 0, m: 0, s: 0 };

            function updateTime(time) {
              time.s += 1;
              if (time.s === 60) {
                time.s = 0;
                time.m += 1;
                if (time.m === 60) {
                  time.m = 0;
                  time.h += 1;
                }
              }
            }

            function displayTime(prefix, time) {
              $(`#hou${prefix}`).text(String(time.h).padStart(2, "0"));
              $(`#min${prefix}`).text(String(time.m).padStart(2, "0"));
              $(`#sec${prefix}`).text(String(time.s).padStart(2, "0"));
            }

            (function () {
              const el = document.getElementById("emp-data");

              const breaker = el.dataset.break;
              const work = el.dataset.work;
              const status = el.dataset.status;

              let changework = work.replace(/"/g, "").split(":").map(Number);
              let changebreak = breaker.replace(/"/g, "").split(":").map(Number);

              if (status === "true") {

                workTime = { h: changework[0], m: changework[1], s: changework[2] };
                displayTime("", workTime);
                breakTime = {
                  h: changebreak[0],
                  m: changebreak[1],
                  s: changebreak[2],
                };
                displayTime("2", breakTime);
                startWorkTimer();
                stopBreakTimer();
                $("#clockin").addClass("d-none");
                $("#fromhom").addClass("d-none");
                $("#clockout").removeClass("d-none");
                $("#break").removeClass("d-none");
              } else if (status === "false") {
                workTime = { h: changework[0], m: changework[1], s: changework[2] };
                displayTime("", workTime);
                breakTime = {
                  h: changebreak[0],
                  m: changebreak[1],
                  s: changebreak[2],
                };
                displayTime("2", breakTime);
                stopWorkTimer();
                startBreakTimer();
                $("#clockout").addClass("d-none");
                $("#break").addClass("d-none");
                $("#clockin").removeClass("d-none");
                $("#fromhom").removeClass("d-none");
              } else {
                workTime = { h: changework[0], m: changework[1], s: changework[2] };
                displayTime("", workTime);
                breakTime = {
                  h: changebreak[0],
                  m: changebreak[1],
                  s: changebreak[2],
                };
                displayTime("2", breakTime);
              }
            })();

            function startWorkTimer() {
              workInterval = setInterval(() => {
                updateTime(workTime);
                displayTime("", workTime);
              }, 1000);
            }

            function stopWorkTimer() {
              if (workInterval) {
                clearInterval(workInterval);
                workInterval = null;
              }
            }

            function startBreakTimer() {
              breakInterval = setInterval(() => {
                updateTime(breakTime);

                displayTime("2", breakTime);
              }, 1000);
            }

            function stopBreakTimer() {
              if (breakInterval) {
                clearInterval(breakInterval);
                breakInterval = null;
              }
            }

            let visibilityTimeout;

            window.addEventListener("visibilitychange", () => {
              clearTimeout(visibilityTimeout);

              if ($('#EarlyClockOut').hasClass('show')) {
                return;
              }

              visibilityTimeout = setTimeout(() => {
                if (!document.hidden) {
                  let id = $("#emplyeeId").val();

                  $.ajax({
                    url: `/employee/hiddenChange/${id}`,
                    method: "GET",
                    success: function (res) {

                      const breaker = res.Break || "00:00:00";
                      const work = res.Working || "00:00:00";
                      const status = res.status;

                      let changework = work.replace(/"/g, "").split(":").map(Number);
                      let changebreak = breaker.replace(/"/g, "").split(":").map(Number);

                      workTime = { h: changework[0], m: changework[1], s: changework[2] };
                      breakTime = { h: changebreak[0], m: changebreak[1], s: changebreak[2] };

                      displayTime("", workTime);
                      displayTime("2", breakTime);

                      if (status === "true") {

                        $("#clockin").addClass("d-none");
                        $("#fromhom").addClass("d-none");
                        $("#clockout").removeClass("d-none");
                        $("#break").removeClass("d-none");
                      } else if (status === "false") {

                        $("#clockout").addClass("d-none");
                        $("#break").addClass("d-none");
                        $("#clockin").removeClass("d-none");
                        $("#fromhom").removeClass("d-none");
                      }
                    },
                    error: function (err) {
                      console.error("AJAX error:", err);
                    }
                  });
                }
              }, 300);
            });

            $("#clockin").click(function () {
              stopBreakTimer();
              startWorkTimer();

              let id = $("#emplyeeId").val();


              $.ajax({
                url: `/employee/attendence/${id}`,
                method: "POST",
                success: function (res) {

                  if (res.MissingClockOut === true) {
                    stopWorkTimer();
                    stopBreakTimer();
                    console.log("Hello");


                    $("#clockOutMissing").removeClass("d-none");
                    $("#clockOutMissing").modal("show")
                    $("#lastdaydate").val(res.OldData.date)
                    $("#dateOut").html(`Record for the <strong>${res.OldData.date}</strong> is missing <strong>Clock Out</strong> in the system. Please apply request.`)

                    let Pmtime = res.OldData.clockIn_time.split(" ")
                    let removesecond = Pmtime[0].split(":")[0] + ":" + Pmtime[0].split(":")[1] + " " + Pmtime[1]
                    $("#clockInTime").val(removesecond)
                  }


                  if (!res.error_msg) {
                    let Break = res.Break.split(":");

                    breakTime = {
                      h: Number(Break[0]),
                      m: Number(Break[1]),
                      s: Number(Break[2]),
                    };
                    displayTime("2", breakTime);

                    let Working = res.WorkingTime.split(":");

                    workTime = {
                      h: Number(Working[0]),
                      m: Number(Working[1]),
                      s: Number(Working[2]),
                    };
                    displayTime("", workTime);




                    if (res.MissingDates.length > 0) {

                      stopWorkTimer();
                      stopBreakTimer();

                      $("#exampleModalCenter").removeClass("d-none");
                      $("#exampleModalCenter").modal("show");

                      function formatDateToISO(dateStr) {
                        const parts = dateStr.split("-");
                        if (parts.length === 3) {
                          return `${parts[2]}-${parts[1]}-${parts[0]}`;
                        }
                        return dateStr;
                      }

                      // Set start and end date
                      $("#leaveDate").val(formatDateToISO(res.MissingDates[0]));
                    }




                  } else {
                    stopWorkTimer();
                    toastr.error(res.error_msg);
                    $("#clockin").removeClass("d-none");
                    $("#fromhom").removeClass("d-none");
                    $("#clockout").addClass("d-none");
                    $("#break").addClass("d-none");
                  }



                }

              });
              $("#clockin").addClass("d-none");
              $("#fromhom").addClass("d-none");
              $("#clockout").removeClass("d-none");
              $("#break").removeClass("d-none");
            });

            $("#break").click(function () {
              stopWorkTimer();
              startBreakTimer();

              let id = $("#emplyeeId").val();

              $("#clockout").addClass("d-none");
              $("#break").addClass("d-none");
              $("#clockin").removeClass("d-none");
              $("#fromhom").removeClass("d-none");

              $.ajax({
                url: `/employee/attendence/${id}`,
                method: "POST",
                success: function (res) {

                  if (res.BreackOver === true) {

                    $('#breackOver').removeClass("d-none");
                    $('#breackOver').modal("show")
                    $('#BreackTime').text(res.BreackTime)
                  }

                  let Break = res.Break.split(":");

                  breakTime = {
                    h: Number(Break[0]),
                    m: Number(Break[1]),
                    s: Number(Break[2]),
                  };
                  displayTime("2", breakTime);

                  let Working = res.WorkingTime.split(":");

                  workTime = {
                    h: Number(Working[0]),
                    m: Number(Working[1]),
                    s: Number(Working[2]),
                  };
                  displayTime("", workTime);





                },
              });
            });

            $("#clockout").click(function () {

              // Stop both timers
              stopWorkTimer();
              stopBreakTimer();

              // Optional: Log final times (or send them to backend here)


              // UI changes
              $("#clockout").addClass("d-none");
              $("#break").addClass("d-none");
              $("#clockin").removeClass("d-none");
              $("#fromhom").removeClass("d-none");

              // If you want to send final times to backend:
              const id = $("#emplyeeId").val();
              $.ajax({
                url: `/employee/clockout/${id}`,
                method: "POST",

                data: {
                  workTime: `${String(workTime.h).padStart(2, "0")}:${String(
                    workTime.m
                  ).padStart(2, "0")}:${String(workTime.s).padStart(2, "0")}`,
                  breakTime: `${String(breakTime.h).padStart(2, "0")}:${String(
                    breakTime.m
                  ).padStart(2, "0")}:${String(breakTime.s).padStart(2, "0")}`,
                },
                success: function (res) {
                  console.log("Clocked out:", res);

                  if (res.EarlyClockOut === true) {
                    $('#EarlyClockOut').modal("show")
                    $('#EarlyClockOut').removeClass('d-none')
                    $('#TimeWorking').text(res.WorkingTime)
                  }

                
                },
                error: function (err) {
                  console.error("Clockout error:", err);
                },
              });
            });



            $('#EarlyClockOut').on('hidden.bs.modal', function () {
              $('#clockout').removeClass('d-none');
              $('#break').removeClass('d-none');
              $('#clockin').addClass('d-none');
              startWorkTimer()
            });




          });






        </script>



        <script>
          document.getElementById("clockOut").addEventListener("change", function () {
            const clockOutVal = this.value;
            const clockInVal = document.getElementById("clockInTime").value;


            const [time, modifier] = clockInVal.split(" ");
            let [hours, minutes] = time.split(":");
            hours = parseInt(hours, 10);

            if (modifier === "PM" && hours < 12) hours += 12;
            if (modifier === "AM" && hours === 12) hours = 0;

            const clockIn24 = `${String(hours).padStart(2, '0')}:${minutes}`;

            if (clockOutVal < clockIn24) {
              document.getElementById("timeError").classList.remove("d-none");
              this.value = "";
            } else {
              document.getElementById("timeError").classList.add("d-none");
            }
          });
        </script>




        <!-- <script>
      window.addEventListener("visibilitychange", () => {
    if (!document.hidden) {
        alert(111)
    } else {
        alert(222)
        // localStorage.setItem("startTime", startTime);
    }
});

    </script> -->

        <!-- latest jquery-->



</body>


</html>