<!DOCTYPE html>
<html lang="en">



<head>
  <%- include('partials/head.ejs') %>

    <link rel="stylesheet" type="text/css" href="/css/vendors/daterange-picker.css">

</head>

<body> <%- include('partials/sidebar.ejs') %>`
    <div class="page-body">
      <div class="container-fluid">
        <div class="page-title">
          <div class="row">
            <div class="col-sm-6">
              <h3>Weekend Setup</h3>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="<%=role===2?'/employee/dashboard':'/admin/dashboard'%>"><i
                      data-feather="home" class="me-2"></i>Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="/admin/weekend"><i data-feather="user-check"
                      class="me-2"></i>Weekend</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid ">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">

              <div class="card-body">
                <div class="table-responsive theme-scrollbar">
                  <form action="/admin/weekends/" method="post">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th class="text-center" rowspan="2" style="padding: 20px;">Day</th>
                          <th class="text-center" colspan="6">Weeks</th>
                        </tr>
                        <tr>
                          <th>1st</th>
                          <th>2nd</th>
                          <th>3rd</th>
                          <th>4th</th>
                          <th>5th</th>
                          <th>Select All</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% const days=['Sunday', 'Monday' , 'Tuesday' , 'Wednesday' , 'Thursday' , 'Friday' , 'Saturday'
                          ]; %>
                          <% days.forEach((day)=> { %>
                            <tr>
                              <td>
                                <%= day %>
                              </td>
                              <% for (let i=1; i <=5; i++) { %>
                                <td>
                                  <input type="checkbox" name="<%= day %>[]" value="<%= i %>"
                                    class="checkbox checkbox-<%= day.toLowerCase() %>"
                                    id="<%= day.toLowerCase() %>_checkbox_<%= i %>" style="width: 15px; height: 15px;"
                                    <%=weekendData.some(data=> data.days === day &&
                                  data.weeks.split(',').includes(i.toString())) ? 'checked' : '' %>
                                  onchange="checkAllSelected('<%= day.toLowerCase() %>')"
                                    >
                                    <label for="<%= day.toLowerCase() %>_checkbox_<%= i %>"></label>
                                </td>
                                <% } %>
                                  <td>
                                    <input type="checkbox" id="select_all_<%= day.toLowerCase() %>"
                                      onclick="toggleSelectAll('<%= day.toLowerCase() %>')"
                                      style="width: 15px; height: 15px;">
                                    <label for="select_all_<%= day.toLowerCase() %>"></label>
                                  </td>
                            </tr>
                            <% }); %>
                      </tbody>

                    </table>

                    <div class="card-footer text-end">
                      <button class="btn btn-outline-danger-2x" type="submit">Set Weekend</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- HTML (DOM) sourced data  Starts-->

        <!-- Container-fluid Ends-->
      </div>
    </div>
    </div>


    <%- include('partials/footer.ejs') %>
      <%- include('partials/script.ejs') %>
        <script>

          function toggleSelectAll(day) {
            const checkboxes = document.querySelectorAll(`.checkbox-${day}`);
            const allChecked = Array.from(checkboxes).every(cb => cb.checked);
            checkboxes.forEach(cb => cb.checked = !allChecked);
            document.getElementById(`select_all_${day}`).checked = !allChecked;
          }

          function checkAllSelected(day) {
            const checkboxes = document.querySelectorAll(`.checkbox-${day}`);
            const allChecked = Array.from(checkboxes).every(cb => cb.checked);
            document.getElementById(`select_all_${day}`).checked = allChecked;
          }

          window.onload = function () {
            const days = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'];
            days.forEach(day => checkAllSelected(day));
          };


        </script>

</body>

</html>